
    <head>
        <title>Cultural Heritage Spaces</title>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <meta http-equiv = "X-UA-Compatible" content = "ie-edge">
        <link rel = "stylesheet" href = "app.css">
        <link rel = "stylesheet" href = "end.css">

        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <p id="reservation">Reservation sent!</p>
        <p id="confirmation">Please wait for the confirmation on your email</p>
    </body>
